<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" id="sidebar">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item" role="presentation"><a class="nav-link" href="/admin"><i class="fas fa-user"></i><span>User</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="/admin-merchant"><i class="fas fa-user"></i><span>Merchant</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="/admin-product"><i class="far fa-user-circle"></i><span>Product</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="/admin-category"><i class="far fa-user-circle"></i><span>Category</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" onclick="logout()"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a></li>
        </ul>
    </div>
</nav>

<script>
function logout() {
    setCookie("access-token", "", 1);
    window.location.href = "/admin-login"
}
</script>