<!-- views/layouts/footer.ejs -->
<!-- FOOTER -->
<footer>
    <a href="#TOP" class="btn btn-primary col-md-12" role="button">
        Back to Top <i class="fas fa-chevron-up"></i>
    </a>
    <div class="copyright">
        <p>
            Need help? <a href="#">Contact Us</a>
            <br><br>
            <b>&copy Copyright FUTURE-Medan-blibli.com</b><br>
            All Rights Reserved
        </p>
    </div>
</footer>
<!-- FOOTER -->