<!-- views/layouts/header.js -->

<!-- NAVIGATION BAR -->
<nav class="navbar navbar-toggleable-md navbar-light bg-light">
        <!-- Collapse button -->
        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#burgerMenu"
        aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars fa-1x"></i>
        </button>
    
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">
            <img src="img/blibli-full-logo.png" alt="blibli-logo">
        </a>

        <ul class="nav">
            <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link"><i class="material-icons">search</i></a>
            </li>
        </ul>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="burgerMenu">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
            <!-- Links -->
        </div>
        <!-- Collapsible content -->
    </nav>
