<!-- views/layouts/head.ejs -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>DBM blibli.com</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">

<!-- JS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="bootstrap-4.3.1-dist/js/bootstrap.min.js">

<!-- load icon -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- CSS (load manual css) -->
<link rel="stylesheet" href="css/home.css">