<!-- views/components/bottomNav -->

<!-- NAVIGATION BOTTOM -->
<nav class="navbar navbar-expand-md bg-light navbar-light fixed-bottom">
    <ul class="navbar nav col-md-12">
        <li class="nav-item active">
            <a class="nav-link" href="#">
                <i class='fas fa-home'></i> Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-th-large"></i> Category
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="material-icons">library_books</i> Library
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-shopping-cart"></i> Cart
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-user-circle"></i> Me
            </a>
        </li>
    </ul>
</nav>