<!-- CAROUSEL -->
<div class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="https://t1.ea.ltmcdn.com/en/images/4/0/0/small_white_dog_breeds_3004_600.jpg" alt="small_white_dog">
        <div class="carousel-caption">
            <h3>Samoyed Puppy</h3>
            <p>Love!</p>
        </div>   
        </div>
        <div class="carousel-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYkXAq_0MRipFjSwJgHnB3wfmIVVqF25n3TUYCCmLIDIGmESYz" alt="shiba_inu">
        <div class="carousel-caption">
            <h3>Shiba inu</h3>
            <p>Thank you, Shiba!</p>
        </div>   
        </div>
        <div class="carousel-item">
        <img src="https://3d4igz27oxtl2iwox73y9smh-wpengine.netdna-ssl.com/wp-content/uploads/2018/07/cute-fat-corgi-on-his-butt.jpg" alt="cute-fat-corgi">
        <div class="carousel-caption">
            <h3>Corgi</h3>
            <p>We love the Corgi!</p>
        </div>   
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>