<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../layouts/head %>
    </head>

    <body>
        <div class="container" id="TOP">
            <header>
                <% include ../layouts/header %>
            </header> 

                <% include ../components/carousel %>

            <!-- CATEGORIES -->
            <div class="categories home-style">
                <div class="text">
                    <h4>Categories</h4>
                    <a href="#">Show All <i class="fas fa-chevron-right"></i></a>
                </div>
                
                <ul class="category home-style-ul">
                    <li class="category-items home-style-item">
                        <a href="javascript:void(0)" class="category-link home-style-link">
                            <i class="fas fa-laptop-code"></i> Computing, Internet, and Digital Media
                        </a>
                    </li>
                    <li class="category-items home-style-item">
                        <a href="javascript:void(0)" class="category-link home-style-link">
                            <i class="fas fa-microscope"></i> Science, Technology, and Medical
                        </a>
                    </li>
                    <li class="category-items home-style-item">
                        <a href="javascript:void(0)" class="category-link home-style-link">
                            <i class="fas fa-hand-holding-usd"></i> Business and Economics
                        </a>
                    </li>
                </ul>
            </div>
            <!-- CATEGORIES -->

            <!-- BEST SELLER -->
            
            <!-- BEST SELLER -->

            <!-- NEW RELEASES THIS MONTH -->
             <div class="new-releases home-style">
                <div class="text">
                    <h4>New Release This Month</h4>
                    <a href="#">Show All <i class="fas fa-chevron-right"></i></a>
                </div>
                
                <ul class="new-release home-style-ul">
                    <li class="new-release-items home-style-item">
                        <a href="javascript:void(0)" class="new-release-link home-style-link">
                            <figure>
                                <img class="img img-responsive" src="img/beach.jpeg" alt="new-release-1" width="40%" height="80%">
                                <figcaption>
                                    <div class="home-style-book-title">Beach</div>
                                    <div class="home-style-price">Rp50.000</div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- NEW RELEASES THIS MONTH -->
            
            <footer>
                <% include ../layouts/footer %>
            </footer>

        </div>        
    </body>
</html>