<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Shopping Cart - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alef">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/line-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navbar-2 shadow">
        <div class="container-fluid">
            <div class="col col-1" style="padding: 0;">
                <a href="#">
                    <div><i class="icon ion-chevron-left" style="font-size: x-large;color: #5d5d5d;"></i></div>
                </a>
            </div>
            <div class="col col-11" style="padding: 0;">
                <div id="menu-name" style="text-align: initial;">
                    <p style="margin: 3px 0;font-size: x-large;color: #278acb;">My Cart</p>
                </div>
            </div>
        </div>
    </nav>
    <main class="page shopping-cart-page" style="background-color: #EDECEC;">
        <section class="clean-block clean-cart dark" style="background-color: white;">
            <nav class="navbar navbar-light navbar-expand-md fixed-bottom" style="background-color: #FFF;padding: 5px;display: flex;justify-content: center;border: 1px solid #999;">
                <div class="container-fluid" style="display: flex;justify-content: center;">
                    <div class="navbar-button" style="padding: 0 10px;">
                        <div>
                            <p style="color: #919191;margin: 0;">Total</p>
                            <p id="total" class="font-weight-bolder" style="margin: 0;color: #DF5F1D;">Rp 30.000</p>
                        </div><button class="btn btn-primary shadow" type="button" style="font-weight: bolder;padding: 0 12px;">Checkout</button></div>
                </div>
            </nav>
            <div class="container" style="margin-top: 20px;">
                <div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col m-1"><a href="javascript:changeIcon()"><i class="icon ion-android-checkbox-outline-blank marright-10" id="checkbox" style="color: rgb(0,0,0);"></i></a>
                            <p class="d-inline">Select All Books</p>
                        </div>
                    </div>
                    <div class="row shadow">
                        <div class="col col-3 flex-center" style="padding-right: 0;"><a class="marright-10" href="javascript:changeIcon()"><i class="icon ion-android-checkbox-outline-blank" id="checkbox" style="color: rgb(0,0,0);"></i></a>
                            <div><a href="#product-page.html"><img id="product-image" class="shadow" style="border-radius: 50%;" src="assets/img/rubberplant2.jpeg"></a></div>
                        </div>
                        <div class="col col-sm-8">
                            <a href="#product-page.html">
                                <p id="book-title" style="margin: 0;">Mountain</p>
                            </a>
                            <p id="book-writer" style="font-size: 50%;">by Andrew Wijaya</p>
                            <p id="book-price"><strong>Rp30.000</strong></p>
                        </div>
                        <div class="col col-sm-1 flex-center justify-content-end"><a href="#"><i class="icon ion-android-delete" style="color: #5d5d5d;font-size: xx-large;"></i></a></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/read-more.js"></script>
</body>

</html>