<nav class="navbar navbar-light navbar-expand-md navbar-2 shadow d-flex align-items-center">
    <div class="container-fluid flex-center">
        <div class="col col-1" style="padding: 0;">
            <a href="javascript:goBack()">
                <div><i class="icon ion-chevron-left" style="color: #5d5d5d;"></i></div>
            </a>
        </div>
        <div class="col col-8" style="padding: 0;">
            <div id="menu-name" style="text-align: initial;">
                <p id="menu-name-text" style="margin: 0;color: #278acb;"></p>
            </div>
        </div>
        
        <a href="/shopping-cart" style="color: #333;">
            <i class="la la-shopping-cart" style="font-size: xx-large;"></i>
        </a>

        <a class="p-0" href="/search" style="color: #333;">
            <i class="la la-search" style="font-size: xx-large;"></i>
        </a>
        
        <a href="#">
            <i class="la la-ellipsis-v" style="color: #333;font-size: xx-large;"></i>
        </a>
    </div>
</nav>

<script>
    $('#menu-name-text').text(document.title)
</script>